/* remember to set all global css and variables before importing */
//makes navbar collaps at 500px
$grid-float-breakpoint: 720px;
//importing bootstrap
@import '_bootstrap-sprockets.scss';
@import '_bootstrap.scss';



.page-header {
  margin-top: 0px;
}

//Validation for forms
.validation-error {
    height: 20px;
    color: #dc2c0f;
    font-size: 12px;
  }
