<br>
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputFirst1" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-6">
      <input required ng-model="admin.first" type="text" class="form-control" id="inputFirst1" placeholder="First Name...">
    </div>
  </div>
  <div class="form-group">
    <label for="inputLast1" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-6">
      <input required ng-model="admin.last" type="text" class="form-control" id="inputLast1" placeholder="Last Name....">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail1" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <input required ng-model="admin.email" type="email" class="form-control" id="inputEmail1" placeholder="Email...">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword2" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-6">
      <input required ng-model="admin.password" type="password" class="form-control" id="inputPassword2" placeholder="Pasword...">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Token</label>
    <div class="col-sm-6">
      <input required ng-model="admin.token" type="password" class="form-control" id="inputPassword3" placeholder="Token...">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click = 'createAdmin()' type="submit" class="btn btn-default">Create</button>
      <br>
      <br>
      <p>Admin Sign-in <a ui-sref='main_public.signin'>Here!</a></p>
    </div>
  </div>
</form>

