<div class="page-header">
  <h1 class ='text-center'>Edit Job</h1> 
</div>

  <div class='col-xs-10'>
    <form name='jobEdit' class="form-horizontal">
      <div class="form-group" ng-if='!manager'>
        <label for="jobManager2" class="col-xs-2 control-label">Manager</label>
        <div class="col-xs-10">
          <select name ='manager' ng-model = 'job.manager' class="form-control" id='jobManager2'>
            <option  value='{{admin._id}}' ng-repeat ='admin in admins' ng-selected="{{job.manager == admin._id}}">
            {{admin.first}} {{admin.last}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="jobProperty2" class="col-xs-2 control-label">Property</label>
        <div class="col-xs-10">
          <select name ='property' ng-model = 'job.propertie' class="form-control" id='jobProperty2'>
            <option  value = '{{property._id}}' ng-repeat ='property in properties' ng-selected="{{job.propertie == property._id}}">
            {{property.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="jobUnit" class="col-xs-2 control-label">Unit</label>
        <div class="col-xs-10">
          <input name ='unit' required ng-model="job.unit" type="text" class="form-control" id="jobUnit" placeholder="Unit">
          <div class="help-block" ng-messages="jobCreate.unit.$error" ng-if="jobCreate.unit.$touched">
            <p ng-message="required">Unit is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="poNumber" class="col-xs-2 control-label">PO N</label>
        <div class="col-xs-10">
          <input required ng-model="job.poNumber" type="text" class="form-control" id="poNumber" placeholder="PO Number">
        </div>
      </div>

      <div class="form-group">
        <label for="invoiceNumber" class="col-xs-2 control-label">Invoice N</label>
        <div class="col-xs-10">
          <input required ng-model="job.invoiceNumber" type="text" class="form-control" id="poNumber" placeholder="Invoice Number">
        </div>
      </div>

      <div class="form-group">
        <label for="jobNotes" class="col-xs-2 control-label">Notes</label>
        <div class="col-xs-10">
          <textarea ng-model='job.notes' class="form-control" rows="5" class="form-control" id="jobNotes" placeholder="Notes..."></textarea>
        </div>
      </div>

      <div class="form-group" ng-show = 'job.attachments.length>0'>
        <label for="jobAttachments" class="col-xs-2 control-label">Attached Files</label>
        <div class="col-xs-10" id="jobAttachments">
          <div ng-repeat = 'attachment in job.attachments'>
            <p><a href='{{attachment.url}}' download="{{attachment.fileName}}">{{attachment.fileName}}   </a><span ng-click='deleteAttachment(attachment)'><a href='#'><i class="fa fa-minus-circle"></i></a></span></p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="jobAddAttachment" class="col-xs-2 control-label">Add File</label>
        <div class="col-xs-10" id="jobAddAttachment">
          <div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h6 class="panel-title">Upload File</h6>
              </div>
              <div class="panel-body">
                <input class="" type="file" name="file" file></input><br>
                <a class="btn btn-sm btn-primary btn-block" ng-click="uploadToS3()">Upload</a>
              </div>            
              </div>
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>




</div>

  
<div class="page-header col-xs-12">
  <h3 class ='text-center'>Services</h3>
  <button class="btn btn-default center-block" ng-click = 'addNewService()' type="button"><i class="fa fa-plus-circle"></i> Add Service</button>
</div>

<div class = 'col-xs-10' ng-repeat='service in job.services'>
  <button type="button" class="close" aria-label="Close" ng-show="$last" ng-click="removeService()"><span aria-hidden="true">&times;</span></button>
  <br><br>
  <form class="form-horizontal">
      <div class="form-group">
        <label for="serviceItem" class="col-xs-2 control-label">Type</label>
        <div class="col-xs-10">
          <input required ng-model="service.item" type="text" class="form-control" id="serviceItem" placeholder="Type">
        </div>
      </div>

      <div class="form-group">
        <label for="serviceWorker" class="col-xs-2 control-label">Worker</label>
        <div class="col-xs-10">
          <select ng-model = 'service.worker' class="form-control" id='serviceWorker'>
            <option value = '{{worker._id}}' ng-repeat ='worker in workers' ng-selected="{{service.worker == worker._id}}">
            {{worker.first}} {{worker.last}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="servicePrice" class="col-xs-2 control-label">Price</label>
        <div class="col-xs-10">
          <input required ng-model="service.price" type="number" class="form-control" id="servicePrice" placeholder="Price">
        </div>
      </div>


      <div class="form-group">
        <label for="serviceDateAssigned" class="col-xs-2 control-label">Date Requested</label>
        <div class="col-xs-10">
          <input required ng-model="service.date_assigned" type="date" class="form-control" id="serviceDateAssigned" placeholder="Date Requested" format-date>
        </div>
      </div>

      <div class="form-group">
        <label for="serviceDescription" class="col-xs-2 control-label">Description</label>
        <div class="col-xs-10">
          <textarea ng-model='service.description' class="form-control" rows="5" class="form-control" id="serviceDescription" placeholder="Description..."></textarea>
        </div>
      </div>
  </form>
  <!-- <button class="btn btn-warning left-block" ng-show="$last" ng-click="removeService()">Remove</button> -->
</div>

<div class="page-header col-xs-12">
  <h3 class ='text-center'>Costs</h3>
  <button class="btn btn-default center-block" type="button" ng-click='addNewCost()'><i class="fa fa-plus-circle"></i> Add Cost</button>  
</div>

<div class = 'col-xs-10' ng-repeat='cost in job.costs'>
  
  <button type="button" class="close" aria-label="Close" ng-show="$last" ng-click="removeCost()"><span aria-hidden="true">&times;</span></button>
  <br><br>
  <form class="form-horizontal">
    
      <div class="form-group">
        <label for="costItem" class="col-xs-2 control-label">Item</label>
        <div class="col-xs-10">
          <input required ng-model="cost.item" type="text" class="form-control" id="costItem" placeholder="Item">
        </div>
      </div>

      <div class="form-group">
        <label for="costValue" class="col-xs-2 control-label">Value</label>
        <div class="col-xs-10">
          <input required ng-model="cost.value" type="number" class="form-control" id="costValue" placeholder="Value">
        </div>
      </div>

  </form>
</div>

<div class="modal-footer row col-xs-12">
  <div class='col-xs-6' ng-if='!job.date_completed'>
    <div class ='col-xs-12'>
      <div class='checkbox'>
        <label >
          <input type="checkbox" ng-model="job.ready_review">  Ready for Invoice?
        </label>        
      </div>
      <div class='checkbox'>
        <label ng-show='job.ready_review'>
          <input type="checkbox" ng-model="checkJobCompleted">  Job Completed?
        </label>          
      </div>
    </div>
    <div class="form-group" ng-show='job.ready_review'>
      <label for="jobDateCompleted" class="col-xs-2 control-label">Date</label>
      <div class="col-xs-10">
        <input ng-disabled = '!checkJobCompleted'required ng-model="job.date_completed" type="date" class="form-control" id="jobDateCompleted" placeholder="Date Requested" format-date>        
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class='err-message'>
      <p ng-if='!job.manager'>Manager required</p>
      <p ng-if='!job.propertie'>Property required</p>   
      <p ng-if='!job.unit && jobCreate.unit.$touched'>Unit required</p>
      <p ng-if='checkJobCompleted && !job.date_completed'>If completed, date is required</p>  
    </div>
  </div>
  <div class="col-xs-12">
  <button type="button" class="btn btn-default" ng-click='back()'><i class="fa fa-arrow-circle-o-left"></i> Back</button>
  <button ng-disabled="!job.manager || !job.propertie || !job.unit || checkJobCompleted && !job.date_completed" 
    type="button" class="btn btn-primary" ng-click = 'editJob()'><i class="fa fa-floppy-o"></i> Save</button>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteJob"><i class="fa fa-trash"></i> Delete</button>
</div>


<div class="modal fade" id="deleteJob" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content text-left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Job </h4>
      </div>
      <div class="modal-body">
        <p>Warning! This Action Can't Be Undone!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
        <button type="button" class="btn btn-danger" ng-click='deleteJob()'><i class="fa fa-trash"></i> Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
