REGISTER
<form action="/admin/create" method="post">
    <div>
        <label>first:</label>
        <input type="text" name="first"/>
    </div>
    <div>
        <label>last:</label>
        <input type="text" name="last"/>
    </div>
    <div>
        <label>email:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>Token:</label>
        <input type="password" name="token"/>
    </div>


    <div>
        <input type="submit" value="Register"/>
    </div>
</form>

LOGIN:
<form action="/admin/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
