<nav class="navbar navbar-default" ng-if='manager==-false'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ui-sref='main_private.dash'>conTracktor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main_navbar">
      <ul class="nav navbar-nav">
        <li><a href="#" ui-sref='main_private.reports'>Reports</a></li>
        <li><a href="#" ui-sref='main_private.jobs'>Jobs</a></li>
        <li><a href="#" ui-sref='main_private.properties'>Properties</a></li>
        <li><a href="#" ui-sref='main_private.workers'>Workers</a></li> 
        <li><a href="#" ui-sref='main_private.managers'>Managers</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ui-sref='main_private.manager_profile({id:sessionId})'>Profile</a></li>        
        <li><a href="#" ng-click = 'adminSignOut()'>Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default" ng-if='manager===true'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ui-sref='main_private.dash'>conTracktor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main_navbar">
      <ul class="nav navbar-nav">
<!--         <li><a href="#" ui-sref='main_private.reports'>My Reports</a></li>  
 -->        <li><a href="#" ui-sref='main_private.jobs_manager'>My Jobs</a></li>
        <li><a href="#" ui-sref='main_private.properties'>Properties</a></li>
        <li><a href="#" ui-sref='main_private.workers'>Workers</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ui-sref='main_private.manager_profile({id:sessionId})'>Profile</a></li>        
        <li><a href="#" ng-click = 'adminSignOut()'>Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div ui-view></div>

