<div class="page-header">
  <h1 class ='text-center'>{{admin.first}} {{admin.last}}</h1>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Edit</div>
  <div class='panel-body'>
    <form name ='managerEdit' class="form-horizontal">
      <div class="form-group" ng-class="{ 'has-error': managerEdit.first.$touched && managerEdit.first.$invalid }">
        <label for="managerInputFirst2" class="col-xs-2 control-label">First Name</label>
        <div class="col-xs-8">
          <input name ='first'
            required 
            ng-model="admin.first" 
            type="text" 
            class="form-control" 
            id="managerInputFirst2" 
            placeholder="First">
          <div class="help-block" ng-messages="managerEdit.first.$error" ng-if="managerEdit.first.$touched">
            <p ng-message="required">Name is required.</p>
          </div>                 
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': managerEdit.last.$touched && managerEdit.last.$invalid }">
        <label for="managerInputLast2" class="col-xs-2 control-label">Last Name</label>
        <div class="col-xs-8">
          <input name='last' 
            required 
            ng-model="admin.last" 
            type="text" 
            class="form-control" 
            id="managerInputLast2" 
            placeholder="Last">
          <div class="help-block" ng-messages="managerEdit.last.$error" ng-if="managerEdit.last.$touched">
            <p ng-message="required">Last name is required.</p>
          </div>                 
        </div>
      </div>
      <div class="form-group"ng-class="{ 'has-error': managerEdit.email.$touched && managerEdit.email.$invalid }">
        <label for="managerInputEmail2" class="col-xs-2 control-label">Email</label>
        <div class="col-xs-8">
          <input name='email' 
            required 
            ng-model="admin.email" 
            type="email" 
            class="form-control" 
            id="managerInputEmail2" 
            placeholder="Email">
          <div class="help-block" ng-messages="managerEdit.email.$error" ng-if="managerEdit.email.$touched">
            <p ng-message="required">Email is required.</p>
            <p ng-message="email">Needs to be a valid email</p>
          </div>                 
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': managerEdit.phone.$touched && managerEdit.phone.$invalid }">
        <label for="managerInputPhone2" class="col-xs-2 control-label">Phone</label>
        <div class="col-xs-8">
          <input name='phone' 
            required 
            ng-model="admin.phone"
            ng-minlength="10" 
            type="text" 
            class="form-control" 
            id="managerInputPhone2" 
            placeholder="Phone">
          <div class="help-block" ng-messages="managerEdit.phone.$error" ng-if="managerEdit.phone.$touched">
            <p ng-message="required">Phone is required.</p>
            <p ng-message="minlength">Phone is to short!</p>                
          </div>                         
        </div>
      </div>
      <div class="form-group">
        <label for="managerInputAdmin2" class="col-xs-2 control-label">Admin?</label>
        <div class="checkbox col-xs-8">
          <label>
            <input type="checkbox" id="managerInputAdmin2" ng-model='admin.admin'> (Gives Manager Administrator Rights)
          </label>
        </div>
      </div>      
    </form>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click='backToManagers()'><i class="fa fa-arrow-circle-o-left"></i> To Managers</button>
      <button type="button" class="btn btn-primary" ng-click='editAdmin()' ng-disabled="!admin.email || !admin.phone || !admin.first || !admin.last"><i class="fa fa-floppy-o"></i> Save</button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAdmin"><i class="fa fa-trash"></i> Delete</button>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#removeAccess"><i class="fa fa-user-times"></i> Revoke Access</button>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteAdmin" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete {{admin.first}} {{admin.last}}</h4>
      </div>
      <div class="modal-body">
        <p>Warning! This Action Can't Be Undone!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
        <button type="button" class="btn btn-danger" ng-click='deleteAdmin()'><i class="fa fa-trash"></i> Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="removeAccess" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Remove Access {{admin.first}} {{admin.last}}</h4>
      </div>
      <div class="modal-body">
        <p>Are you Sure you Want to Remove Access?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
        <button type="button" class="btn btn-info" ng-click='disableAdmin()'><i class="fa fa-user-times"></i> Revoke Access</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
