<div class="page-header">
  <h1 class ='text-center'>Workers</h1>
  <button class="btn btn-default center-block" type="button" data-toggle="modal" data-target="#workerModal">Add new</button>
</div>


<!-- Modal for Add New Worker.... -->
<div class="modal fade" id="workerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Worker</h4>
      </div>
      <div class="modal-body">

        <form class="form-horizontal">
          <div class="form-group">
            <label for="workerInputFirst" class="col-xs-2 control-label">First Name</label>
            <div class="col-xs-10">
              <input name = 'first'
                required 
                ng-model="worker.first" 
                type="text" 
                class="form-control" 
                id="workerInputFirst" 
                placeholder="First">
            </div>
          </div>
          <div class="form-group">
            <label for="workerInputLast" class="col-xs-2 control-label">Last Name</label>
            <div class="col-xs-10">
              <input name = 'last' 
                required 
                ng-model="worker.last" 
                type="text" 
                class="form-control" 
                id="workerInputLast" 
                placeholder="Last">
            </div>
          </div>
          <div class="form-group">
            <label for="workerInputEmail" class="col-xs-2 control-label">Email</label>
            <div class="col-xs-10">
              <input name='email' 
                required 
                ng-model="worker.email" 
                type="email" 
                class="form-control" 
                id="workerInputEmail" 
                placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="workerInputPhone" class="col-xs-2 control-label">Phone</label>
            <div class="col-xs-10">
              <input name='phone'
                required 
                ng-model="worker.phone" 
                type="text" 
                class="form-control" 
                id="workerInputPhone" 
                placeholder="Phone">
            </div>
          </div>
          <div class="form-group">
            <label for="workerInputAddress" class="col-xs-2 control-label">Address</label>
            <div class="col-xs-10">
              <input ng-model="worker.address.street" type="text" class="form-control" id="workerInputAddress" placeholder="Street"><br>
              <input ng-model="worker.address.street2" type="text" class="form-control" placeholder="Street 2"><br>
              <input ng-model="worker.address.city" type="text" class="form-control" placeholder="City"><br>
              <input ng-model="worker.address.state" type="text" class="form-control" placeholder="State"><br>
              <input ng-model="worker.address.zip" type="text" class="form-control" placeholder="Zip code">
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click = 'createWorker()'>Save</button>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
 <!--  <div class="panel-heading">Panel heading</div> -->
 
    <!-- Table -->
    <table class="table table-bordered table table-striped">
      <tr>
        <th>Name</th>
        <th>Email</th>   
        <th>Phone</th>
        <th>Address</th>
        <th ng-if='!manager'>Edit Worker</th>
      </tr>
      <tr ng-repeat = 'worker in workers'>
        <td>{{worker.first}}  {{worker.last}}</td>
        <td><a href="mailto:{{worker.email}}">{{worker.email}}</a></td>
        <td>{{worker.phone}}</td>
        <td>
          <address>
          {{worker.address.street}}
          {{worker.address.street2}}
          {{worker.address.city}}
          {{worker.address.state}}
          {{worker.address.zip}}
          </address>
        </td>
        <td ng-if='!manager'><button class='btn center-block btn-info' ui-sref = 'main_private.workers_edit({id:worker._id})'>Edit</button></td>
      </tr>
    </table>
</div>


<!-- {{workers}} -->

